<div class="product-container">

    <div class="product-details">
        <p class="go-back" (click)="location.back()"> 
            <i class="fa-solid fa-arrow-right"></i>
        </p>

        <h1 class="product-title">{{ productInStock.product?.name }}</h1>
        <div class="product-price">{{ productInStock.product?.price! | shekel }}</div>

        <p class="product-description">
            {{ productInStock.product?.description }}
        </p>

        <label for="quantity" class="quantity-label">כמות *</label>

        <div class="quantity-container">
            <button (click)="increaseQuantity()"
                [disabled]="selectedQuantity == productInStock.currentQuantity">+</button>
            <div class="quantity-value">{{ selectedQuantity }}</div>
            <button (click)="decreaseQuantity()" [disabled]="selectedQuantity <= 1">-</button>

        </div>
        <button (click)="addToCart(productImg)" class="add-to-cart"
            [ngClass]="{ 'out-of-stock': productInStock.currentQuantity==0 }"
            [disabled]="productInStock.currentQuantity==0">הוספה לסל
            הקניות</button>

        <button class="google-pay" [ngClass]="{ 'out-of-stock': productInStock.currentQuantity==0 }">
            <img src="https://www.gstatic.com/instantbuy/svg/dark_gpay.svg" alt="G Pay" />
        </button>
    </div>

    <div class="product-image">
        <img #productImg [src]="'https://localhost:7107/' + productInStock.product?.imageUrl" alt="product image" />
    </div>
</div>