.navButton {
    background-color: white;
    border: none;
    font: var(normal normal normal 16px / 1.4em wfont_15cd78_06c730e87eb44ca0a0f3239502ea4218, wf_06c730e87eb44ca0a0f323950, orig_noto_sans_hebrew_regular, var(normal normal normal 16px / 1.4em din-next-w01-light, sans-serif));
    cursor: pointer;
    font-size: medium;
    padding: 0.7rem 2rem;
    transition: background-color 0.3s;
}

.navButton:hover {
    background-color: rgba(83, 44, 22, 0.2);
}

.active-nav-button {
    background-color: rgba(83, 44, 22, 0.2) !important;
}

#navButtons {
    padding-bottom: 1%;
}

#navDiv {
    margin: auto;
    text-align: center;
    position: sticky;
    top: 0%;
    margin-top: -1%;
    z-index: 1500;
    background-color: white;
    width: 102%;
    padding-left: 2%;
    margin-right: -1%;
    box-shadow: rgba(83, 44, 22, 0.2) 0px 0px 15px 0px;
}

#adertisterText {
    font: normal normal normal 16px / 1.4em wfont_15cd78_06c730e87eb44ca0a0f3239502ea4218, wf_06c730e87eb44ca0a0f323950, orig_noto_sans_hebrew_regular;
    font-size: 22px;
    line-height: 1.4em;
    text-align: center;
    padding: 0%;
    margin: 0%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 15rem;
    margin-left: 15rem;
}

#logo {
    width: 7%;
    cursor: pointer;
}

#firstDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cart {
    cursor: pointer;
    padding: 1%;
    border-radius: 50px;
    position: relative;
    font-size: 25px;
}

#cart:hover {
    background-color: rgba(83, 44, 22, 0.2);
}

#countCartProducts {
    position: absolute;
    top: 29%;
    left: 45%;
    color: white;
    font-size: small;
}